.what-we-do {
  padding-bottom: 94px;
  padding-top: 47px;
}

.what-we-do .container {
  flex-direction: column;
}
.what-we-do h2 {
  margin-bottom: 50px;
}
.what-we-do ul {
  display: flex;
}
.what-we-do li:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.what-we-do li {
  position: relative;
}

.what-we-do li .description {
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-color;
  padding: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
